<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>2018第三屆全國創意智能機器人主題競賽</title>
        
        <!-- favicon -->
        <link rel="icon" href="https://avatars1.githubusercontent.com/u/43366332?s=60&v=4" type="image/png" sizes="16x16">

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/agency.css" rel="stylesheet">
        <link href="css/self.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body id="page-top" class="index" ng-app='app' ng-controller='controller'>
    <body bgcolor="#cdeaf7">
        <body style="background-color:#E8FFFF !important;">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="#page-top" style='padding-top: 0;'>
                            <img src='img/CIR.png' height='50' />
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden">
                                <a href="#page-top"></a>
                            </li>
                            <li>
                                <a class="page-scroll scroll-menu" href="#portfolio">比賽資訊</a>
                            </li>
                            <li>
                                <a class="page-scroll scroll-menu" href="#process">活動流程</a>
                            </li>
                            <li>
                                <a class="page-scroll scroll-menu" href="#robot">比賽機器人</a>
                            </li>

                            <!--        <li>
                                   <a class="page-scroll scroll-menu" href="#about">報名流程</a>
                               </li> -->
                            <!--      <li>
                                 <a class="page-scroll scroll-menu" href="#team">團隊</a>
                             </li> -->
                            <li>
                                <a class="page-scroll scroll-menu" href="#contact">交通資訊</a>
                            </li>
                            <li>
                                <a class="page-scroll scroll-menu" href="http://digcode.tw/cirtc/">第二屆網站</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

            <!-- Header -->
            <header>
                <div class="container">
                    <div class='mask'></div>
                    <div class="intro-text">
                        <div class="intro-lead-in">2018年第三屆</div>
                        <div class="intro-heading">全國創意智能機器人主題競賽</div>

                        <!-- <div class="intro-heading" style="font-size: 3vw;"></div> -->
                        <div class="intro-lead-in" style="font-size: 3vw;">CIRTC, Creative and Intelligent Robot Theme Competition</div>
                        <a href="#portfolio" class="page-scroll btn btn-xl">查看詳情</a>
                    </div>
                </div>
            </header>



            <!-- Portfolio Grid Section -->
            <section id="portfolio" style='padding-top: 100px; padding-bottom: 50px;'>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">比賽資訊</h2>
                            <!-- <h3 style='font-family: 微軟正黑體;' class="section-subheading text-muted">踴躍參加2016機器人比賽</h3> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class='activity-info'>
                            <div class='left-partition col-md-9'>
                                <p class='title'>最新消息</p>
                                <!--  <font size="+5"><font color="red">得獎名冊：</font></font>
                                <a href="得獎名冊.pdf" target="_blank" class="btn btn-md">得獎名冊</a>


                                <font size="+5"><font color="red">佳作：</font></font>
                                <a href="佳作.pdf" target="_blank" class="btn btn-md">佳作</a>  -->

                                <p>一、  活動宗旨：</p>
                                <div class="text_indentation">
                                    <p>	機器人領域已成為未來科技發展之主流趨勢，而程式設計及機構設計則為機器人學門之重點項目。其中最有效能夠將相關知能轉移內化的方式便是主題式動手製作，以培養學生對機器人領域的興趣，並瞭解學科於應用上的多元性。藉由本競賽之過程，可增加學生學習的興趣與動機，並讓學生發揮創意、學習團隊合作、溝通互補等多元之競爭力。本競賽創辦之目的在於提供參賽者接觸與學習機器人相關知識，並藉由技術的交流確保窺探新知的機會，進而提升機器人教育之效果及基礎研究開發能力。</p>
                                </div>
                                
                                <p>二、  指導單位：</p>
                                <div class="text_indentation" >
                                    <p>教育部</p>
                                    <!-- <p>教育部 技職司</p> -->
                                    <!-- <p>屏東縣政府 教育處</p> -->
                                </div>
                                
                                <p>三、  主辦單位：</p>
                                <div class="text_indentation">
                                    <!--<p>國立屏東大學</p> -->
                                    <p>國立屏東大學 資訊學院</p>
                                    <p>國立屏東大學 電腦與機器人學士學位學程</p>  
                                </div>
                                
                                <p>四、  協辦單位：</p>
                                <div class="text_indentation" >
                                    <p>國立屏東大學 電腦與機器人學士學位學程 學程學會</p>
                                    <!--<p>崛碼科技有限公司</p>
                                    <p>慈暉電腦有限公司</p>
                                    <p>星博電子股份有限公司</p>
                                    <p>太平洋百貨 屏東店</p>
                                    <p>雄鷄企業有限公司</p> -->
                                </div>

                                <p>五、  參加資格：</p>
                                <div class="text_indentation">
                                    <p>全國各國小(含以下)、國高中職、大專院校等在學學生及社會人士組隊報名，每隊選手人數最多 4 名(未含指導老師)。</p>
                                </div>

                                <p>六、  參賽資訊:</p>
                                <div class="text_indentation">
                                    <p>(一) 競賽日期：2018年12月2日(星期日)</p>

                                    <p>(二) 報名截止日：2018年11月12日(星期一) 23:59為止</p>

                                    <p>(三) 報名成功隊伍公告日期：2018年11月16日(星期五)前<br>
                                    <span style="color:red">(參賽隊伍需於2018年11月20日中午12:00前自行確認報名是否成功，如因此喪失比賽資格，後果由該隊伍自行負責)</span>
                                    </p>
                                    

                                    <p>(四) 場地測試時間：2018年12月1日(星期六) 09:00~14:00</p>

                                    <p>(五) 會場地點：</p>
                                    <div class="text_indentation2">
                                        <p>屏東市民生東路51號 國立屏東大學屏商校區 活動中心二樓。</p>
                                    </div>

                                    <p>(六) 聯絡資訊： </p>
                                    <div class="text_indentation2">
                                        <p>電腦與智慧型機器人學士學位學程 辦公室</p>
                                        <p>  馮 美珍 小姐(分機：08-7663800#33501)  電子信箱：mejan@mail.nptu.edu.tw</p>
                                        <!-- <p>電腦與智慧型機器人學士學位學程 學程學會</p>
                                        <p>  吳 咏玟 同學(活動總召)　電子信箱：kevin13802@gmail.com</p>
                                        <p>  莊 凱鈞 同學(活動副總召)　電子信箱：cbc106015@nptu.edu.tw</p> -->
                                    </div>

                                    <p>
                                        (七) 報名網址：
                                        <a href="https://goo.gl/tgUwf5" class="btn btn-md">按我報名!</a>
                                        <span style="color:black">(2018年10月02日更新)</span>
                                        <!--<p>報名成功隊伍:<p>
                                        <a href="公布2018比賽報名.xlsx" target="_blank" class="btn btn-md">報名成功隊伍</a> -->

                                    </p>
                                </div>

                                <p>七、  比賽項目：</p>
                                <div class="text_indentation">

                                    <table class="table table-bordered" style="background-color: #f2fdfd;margin: 0;padding: 0;">

                                        <thead class="text-center">
                                            <tr>

                                                <th class="text-center">項次</th>
                                                <th class="text-center">競賽項目名稱</th>
                                                <th class="text-center">國小組(含幼稚園)</th>
                                                <th class="text-center">國高中組</th>
                                                <th class="text-center">大專院校及社會人士組</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr ng-repeat="list in gameitem_table  track by $index">
                                                <td ng-bind="list.col1"></td>
                                                <td ng-bind="list.col2"></td>
                                                <td ng-bind="list.col3"></td>
                                                <td ng-bind="list.col4"></td>
                                                <td ng-bind="list.col5"></td>

                                            </tr>

                                        </tbody>

                                    </table>


                                </div>



                                <p>八、  獎勵：</p>
                                <div class="text_indentation">

                                    <p>各競賽項目(以參賽隊別為單位)錄取排列名次者最多3隊及佳作若干隊，錄取排列名次的隊數得有缺額。第一名可獲頒1500元及精美獎盃乙座，第二名可獲得1000元及精美獎盃乙座，第三名可獲得500元獎金及精美獎盃乙座，佳作可獲頒獎狀，未獲獎的參賽選手及指導老師由主辦單位發給參賽證明。</p>

                                    <!-- <p>(一)第一名: 1500元整和獎盃乙座</p>
                                <p>(二)第二名: 1000元整和獎盃乙座</p>
                                <p>(三)第三名: 500元整和獎盃乙座</p> -->
                                    <!-- <p style="white-space: pre;">(四)    佳作:   若干名</p> -->
                                </div>



                                <p>九、  獎狀相關規定：</p>
                                <div class="text_indentation">

                                    <p>(一)每組學生一人一張參賽證明與獎狀，指導老師每組只頒發一份，重複參賽不發第二份。</p>
                                    <p>(二)佳作及前三名需現場即時印製，需在現場等候片刻(約15～20分)<p>
                                    <p>(三)如有需郵寄服務 需加30元郵資<p>
                                    <p>(四)若因個人因素導致主辦單位重新製作獎狀者，每張酌收工本費200元（含隊名、參賽組別、所有隊員姓名與所屬學校、連絡電話與地址）。</p>
</div>

                                <p>
                                    十、  活動辦法網址：<!--等待最終版規則完成-->
                                    <a href="files/CIRTC2018活動辦法.pdf" target="_blank" class="btn btn-md">活動辦法</a>

                                </p>
                                <p> <p>
</p>
                                    十一、  比賽相關Q&A：
                                                        <a href="files/QnA.pdf" target="_blank" class="btn btn-md">競賽Q&A</a>
                                                        <a href="https://goo.gl/xkm9d4" target="_blank" class="btn btn-md">問題回報</a>


                                </p>
                            </div>

                            <div class='right-partition col-md-3'>
                                <img src='img/robot.png' height='600' />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="process" class="bg-light-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">活動流程</h2>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-bordered  " style="background-color: white;margin: 0;padding: 0;">

                            <thead class="text-center">
                                <tr>
                                    <th class="text-center">時間</th>
                                    <th class="text-center">活動項目</th>
                                    <th class="text-center">地點</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr ng-repeat="list in process_table  track by $index">
                                    <td ng-bind="list.time"></td>
                                    <td ng-bind="list.item"></td>

                                    <td class="text-center" ng-if="$first" rowspan="{{process_table.length}}" style="vertical-align:middle;">活動中心二樓</td>
                                </tr>

                            </tbody>

                        </table>
                    </div>

                </div>
            </section>

            <!-- Services Section -->
            <section id="robot" class="">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">比賽機器人</h2>
                            <!-- <h3 style='font-family: 微軟正黑體;' class="section-subheading text-muted">踴躍參加2016機器人比賽</h3> -->
                        </div>
                    </div>
                    <div class="row text-center">  
                        <div class="col-md-4">
                            <div class='gallery'>
                                <img src='img/tug-of-war.png' height='250' />
                            </div>
                            <h4 class="service-heading">投籃機器人</h4>
                        </div>
                        <div class="col-md-4">
                            <div class='gallery'>
                                <img src='img/mbot.png' height='250' />
                            </div>
                            <h4 class="service-heading">mBot闖關競賽</h4>
                        </div>
                        <div class="col-md-4">
                            <div class='gallery'>
                                <img src='img/avoidance.png' height='250' />
                            </div>
                            <h4 class="service-heading">自走車避障比賽</h4>
                        </div>
                    </div>
                </div>
            </section>

            <!-- About Section -->
            <!-- <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">報名流程</h2>
                        <h3 style='font-family: 微軟正黑體;' class="section-subheading text-muted">請依照此順序進行報名</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <h4><br />Step 1</h4>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>第一步</h4>
                                        <h4 class="subheading">填寫報名表</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">請確實填寫每項資料以利活動事項聯絡，營隊籌辦過程中可能會有需要與家長聯絡的事宜，希望家長們可以為了營隊運作順利，留下聯絡方式，方便我們工作人員與您聯絡，若有不便也請多多見諒。</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4><br />Step 2</h4>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>第二步</h4>
                                        <h4 class="subheading">繳交報名表</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">即日起至104年06月28日前，將報名表繳至國立屏東大學附設實驗國民小學，即可完成初步報名程序。若家長有任何疑問，也可透過簡章中的工作人員聯絡方式，與我們聯繫，我們將會仔細地回答任何一位家長的問題。</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <h4><br />Step 3</h4>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>第三步</h4>
                                        <h4 class="subheading">匯款繳費</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">
                                            <br />
                                            採現場現金繳費。
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4>完成<br>
                                        報名<br>
                                        程序
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>-->
            <!-- Team Section -->
            <!-- Contact Section -->
            <section id="contact">
                <div class='school'>
                    <h1>校園地圖</h1>
                </div>
                <div id='map'></div>
            </section>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- <span class="copyright">Copyright &copy; 創意機器人社 2015</span> -->
                        </div>
                        <div class="col-md-6">
                            <ul class="list-inline social-buttons">
                                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li> -->
                                <!-- <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li> -->
                                <li><span class="copyright">Copyright &copy; 國立屏東大學 電腦與智慧型機器人學士學位學程 學程學會</span></li>
                                <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li> -->
                            </ul>
                        </div>
                        <!-- <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div> -->
                    </div>
                </div>
            </footer>

            <!-- jQuery -->
            <!-- <script src="js/google-map-api.js"></script> -->
            <!--   <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
        type="text/javascript"></script>   -->

            <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGJo5BBZJfIKZBi4qoWXhUuX0C-fe4a3s"
                    type="text/javascript"></script> -->


            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGJo5BBZJfIKZBi4qoWXhUuX0C-fe4a3s" type="text/javascript"></script>
            <script src="js/jquery.js"></script>
            <script src="js/angular.js"></script>
            <script src="js/index-angular.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="js/bootstrap.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
            <script src="js/classie.js"></script>
            <script src="js/cbpAnimatedHeader.js"></script>

            <!-- Contact Form JavaScript -->
            <script src="js/jqBootstrapValidation.js"></script>
            <script src="js/contact_me.js"></script>

            <!-- Custom Theme JavaScript -->
            <script src="js/agency.js"></script>

            <script type="text/javascript">
                function initialize() {
                    var mapProp = {
                        center: new google.maps.LatLng(22.658495, 120.512057),
                        zoom: 15,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(document.getElementById("map"), mapProp);


                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(22.658495, 120.512057)
                    });

                    var infowindow = new google.maps.InfoWindow({
                        content: "<a href='https://www.google.com.tw/maps/place/國立屏東大學屏商校區' target='_blank'>屏東大學屏商校區活動中心二樓</a>",
                        position: new google.maps.LatLng(22.658495, 120.512057)
                    });

                    marker.setMap(map);

                    var styles = [{
                        "featureType": "administrative",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#444444"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "saturation": "15"
                            },
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#f2f2f2"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 45
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#f2f2f2f"
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    }];

                    map.setOptions({ draggable: false, zoomControl: false, scrollwheel: false, disableDoubleClickZoom: true, styles: styles });




                    infowindow.open(map, marker);
                }

                google.maps.event.addDomListener(window, 'load', initialize);
            </script>
        </body>

</html>
